[Unit]
Description=ricochet-group

[Service]
User=ricochet-group
ExecStart=/usr/local/bin/ricochet-group
WorkingDirectory=/var/lib/ricochet-group

[Install]
WantedBy=multi-user.target
